<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" ng-app="netMarks">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="js/vendor/sweet-alert/sweetalert.css">
  <link rel="stylesheet" href="css/main.css">
  <!-- <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script> -->
</head>

<body ng-controller="netMarksIndex">
  <!--  [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div class="container-fluid full-height">
    <div class="row full-height">
      <div class="col-md-2 folders full-height">
        <script type="text/ng-template" id="categoryTree">
          <a href="javascript:;">
            <span ng-bind="folder.title"></span>
          </a>

          <ul class="tree-folders">
            <li ng-repeat="folder in folder.sub" ng-include="'categoryTree'" ng-click="showMarks($event,folder._id)">
            </li>
          </ul>
        </script>
        <ul class="nav nav-pills nav-stacked ">
          <li ng-repeat="folder in folders" ng-include="'categoryTree'" ng-click="showMarks($event,folder._id)">

          </li>
        </ul>
        <!-- <ul class="nav nav-pills nav-stacked ">
          <li ng-repeat="folder in folders" ng-click="showMarks(folder._id)">

          </li>
        </ul> -->
      </div>
      <div class="col-md-3 marks full-height">
        <ul class="nav nav-pills nav-stacked ">
          <li ng-repeat="mark in marks" ng-click="showMark(mark._id)" class="mark-li">
            <a href="#" class="mark-uri">
              <span ng-bind="mark.title" class="mark-title"></span>
              <span ng-bind="mark.uri" class="mark-describe"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-7 operates full-height">
        <ul class="nav nav-tabs">
          <li id="marks_add"><a href="#marks_pane" data-toggle="tab">添加书签</a></li>
          <li id="folders_add"><a href="#folders_pane" data-toggle="tab">添加文件夹</a></li>
          <li id="mark_edit"><a href="#mark_edit_pane" data-toggle="tab">编辑书签</a></li>
          <li id="folder_edit"><a href="#folder_edit_pane" data-toggle="tab">编辑文件夹</a></li>
          <li class="pull-right"><a href="#">Fork me on GitHub!</a></li>
          <li class="pull-right active" id="login_btn"><a data-toggle="tab" href="#login_pane">登录</a></li>
          <li class="pull-right" id="join_btn"><a data-toggle="tab" href="#join_pane">注册</a></li>
          <li class="pull-right" id="out_btn"><a data-toggle="tab" href="#leave_pane">退出登录</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="login_pane">
            <form id="login_form" class="operate-form">
              <h2 class="form-title">登 录</h2>
              <input type="text" class="form-control" name="username" placeholder="邮箱 / 用户名" required="" autofocus="">
              <input type="password" class="form-control" name="password" placeholder="密码" required="">
              <button class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
            </form>
            <hr>
            <div class="system-intro">
              <h3>NetMarks，一款简单的网络书签管理应用。</h2>
                <p>简洁明了的操作体验，用于在线同步网络书签。
                  <ul>
                    <li>账号注册规则：5-10位英文或数字的组合；</li>
                    <li>密码填写规则：6-15位英文或数字的组合；</li>
                  </ul>
                </p>
            </div>
          </div>
          <div class="tab-pane" id="join_pane">
            <form id="join_form" class="operate-form">
              <h2 class="form-title">注 册</h2>
              <input type="text" class="form-control" name="username" placeholder="用户名">
              <input type="email" class="form-control" name="email" placeholder="邮箱">
              <input type="password" class="form-control" name="password" placeholder="密码">
              <button class="btn btn-lg btn-primary btn-block" type="submit">注 册</button>
            </form>
          </div>
          <div class="tab-pane " id="marks_pane">


            <form id="mark_add_form" class="operate-form">
              <h2 class="form-title">添加书签</h2>

              <input type="text" name="title" class="form-control" placeholder="标题">
              <input type="text" name="uri" class="form-control" placeholder="链接">
              <textarea name="describe" class="form-control" placeholder="描述"></textarea>

              <textarea name="content" class="form-control" placeholder="内容"></textarea>

              <input type="text" name="tags" class="form-control" placeholder="标签">
              <input type="number" name="sort" class="form-control" placeholder="排序">
              <select class="form-control" name="folder_id">
                <option ng-repeat="folder in rootfolders" value={{folder._id}}>{{folder.title}}</option>
              </select>

              <button class="btn btn-lg btn-primary btn-block" type="submit">添 加</button>
            </form>
          </div>
          <div class="tab-pane" id="folders_pane">

            <form id="folder_add_form" class="operate-form">
              <h2 class="form-title">添加文件夹</h2>

              <input type="text" name="title" placeholder="标题" class="form-control">
              <textarea name="describe" placeholder="描述" class="form-control"></textarea>
              <select class="form-control" name="folder_id" id="folder_select">

                <option ng-repeat="folder in rootfolders" value={{folder._id}}>{{folder.title}}</option>
              </select>

              <button class="btn btn-lg btn-primary btn-block" type="submit">添 加</button>

            </form>
          </div>
          <div class="tab-pane" id="mark_edit_pane">
            <form id="mark_edit_form" class="operate-form">
              <h2 class="form-title">书签详情</h2>
              <input type="hidden" class="form-control" ng-value="mark._id" id="mark_id">
              <input type="text" name="title" class="form-control" placeholder="标题" ng-model="mark.title">
              <input type="text" name="uri" class="form-control" placeholder="链接" ng-model="mark.uri">

              <textarea name="describe" class="form-control" placeholder="描述" ng-model="mark.describe"></textarea>
              <textarea name="content" class="form-control" placeholder="内容" ng-model="mark.content"></textarea>
              <input type="text" name="tags" class="form-control" placeholder="标签" ng-model="mark.tags">
              <input type="number" name="sort" class="form-control" placeholder="排序" ng-model="mark.sort">

              <input type="radio" ng-model="mark.status" name="status" value="1"> 可用
              <input type="radio" ng-model="mark.status" name="status" value="0"> 不可用

              <!-- <input type="radio" name="status" value="1">可用
              <input type="radio" name="status" value="0">不可用 -->
              <input type="text" name="date" class="form-control" placeholder="创建日期" ng-model="mark.date | date:'yyyy-MM-dd'" disabled="">
              <select class="form-control" name="folder_id" ng-model="mark.folder_id">
                <option ng-repeat="folder in folders" value="{{folder._id}}">{{folder.title}}</option>
              </select>
              <button class="btn btn-lg btn-primary btn-block" type="submit">编 辑</button>
            </form>
          </div>
          <div class="tab-pane" id="folder_edit_pane">
            <form id="folder_edit_form" class="operate-form">
              <h2 class="form-title">文件夹详情</h2>
              <input type="hidden" name="_id" ng-value="folder._id" class="form-control" id="folder_id">
              <input type="text" name="title" ng-model="folder.title" class="form-control" placeholder="标题">
              <textarea name="describe" ng-model="folder.describe" class="form-control" placeholder="描述"></textarea>
              <input type="number" name="sort" ng-model="folder.sort" class="form-control" placeholder="排序">
              <input type="radio" ng-model="folder.status" name="status" value="1"> 可用
              <input type="radio" ng-model="folder.status" name="status" value="0"> 不可用
              <!-- <select class="form-control" name="folder_id" ng-model="folder.folder_id">
                <option ng-repeat="folder in rootfolders">{{folder._id}}</option>
              </select> -->
              <button class="btn btn-lg btn-primary btn-block" type="submit">编 辑</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/vendor/jquery-1.11.2.min.js"></script>
  <script src="js/vendor/jquery.cookie.min.js"></script>
  <script src="js/vendor/jquery.validate.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/sweet-alert/sweetalert.min.js"></script>
  <script src="js/vendor/jquery.bootstrap-growl.min.js"></script>

  <script src="js/global.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controller.js"></script>
</body>

</html>
