/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body, .full-height {
  height: 100% !important;
  min-height: 100% !important;
}
.folders {
  background-color: #34495E;
}
.marks {
  background-color: #1ABC9C;
}
.operates {
  background-color: #ECF0F1;
}
.operate-form, .system-intro {
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.operate-form input, .operate-form select, .operate-form textarea {
  margin: 10px 0;
  max-width: 100%;
}
.form-title {
  margin-bottom: 20px;
  text-align: center;
}
.mark-li {
  border-bottom: 1px solid #ECF0F1;
  margin: 0;
}
.mark-title {
  padding: 5px 0;
  font-size: 16px;
}
.mark-describe {
  display: block;
  margin: 5px 0;
}
.mark-li:hover .mark-describe {
  color: #1ABC9C;
}
.system-intro h3 {
  text-align: center;
}
.bootstrap-growl {

}
.alert {border-radius: 0;background-color: #34495E;}
.alert-info {color: #1ABC9C;}
.alert-dismissible {color: #1ABC9C;}
.tree-folders{
  list-style: none;

}
.tree-folders a:hover,.tree-folders a:focus{
  color: #1ABC9C;
  background-color: #ECF0F1;
  padding: 5px 10px;
}
